*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    margin: 20px;
    padding: 30px;
    text-align: center;
}

.img {
    text-align: center;
}

img {
    margin: 40px;
    height: 500px;
    width: auto;
}

.content {
    padding: 30px;
}

.section {
    margin: 30px;
}

h3 {
    padding-bottom: 20px;
}